div.licensing-wizard
  h2 <%= i18n("wizard.menu.question1") %>
  ul.nav.nav-tabs#la-wizard-tabs(role='tablist', style='display: none')
    li.active(role='presentation')
      a(href='#la-q1',  role='tab', data-toggle='tab') la-q1
    li(role='presentation')
      a(href='#la-q2', role='tab', data-toggle='tab') la-q2
    li(role='presentation')
      a(href='#la-n1', role='tab', data-toggle='tab') la-n1
    li(role='presentation')
      a(href='#la-end', role='tab', data-toggle='tab') la-end
  div.tab-content
    div.tab-pane.active#la-q1(role='tabpanel')
      h3 <%= i18n("wizard.q1.step0.question") %>
      button.btn.btn-danger(onclick='$("#la-wizard-tabs a[href=\'#la-n1\']").tab("show")') <%= i18n("no") %>
      | &nbsp;
      button.btn.btn-success(onclick='$("#la-wizard-tabs a[href=\'#la-q2\']").tab("show")') <%= i18n("yes") %>
    div.tab-pane#la-q2(role='tabpanel')
      h3 <%= i18n("wizard.q1.step1.question") %>
      button.btn.btn-danger(onclick='$("#la-wizard-tabs a[href=\'#la-n1\']").tab("show")') <%=  i18n("no") %>
      | &nbsp;
      button.btn.btn-success(onclick='$("#la-wizard-tabs a[href=\'#la-end\']").tab("show")') <%= i18n("yes") %>
    div.tab-pane#la-end(role='tabpanel')
      h3 <%= i18n("wizard.q1.end1") %>
        a(href="http://www.paneuropeandataportal.eu/basic-page/57/filter-license") <%= i18n("wizard.q1.end1.here") %>
      button.btn.btn-primary(onclick='$("#la-wizard-tabs a[href=\'#la-q1\']").tab("show")') <%= i18n("startagain") %>
    div.tab-pane#la-n1(role='tabpanel')
      h3 <%= i18n("wizard.q1.end0") %>
      button.btn.btn-primary(onclick='$("#la-wizard-tabs a[href=\'#la-q1\']").tab("show")') <%= i18n("startagain") %>



