//
// Jumbotron
// --------------------------------------------------


.jumbotron {
  padding: @jumbotron-padding (@jumbotron-padding / 2);
  margin-bottom: @jumbotron-padding;
  color: @jumbotron-color;
  background-color: trasparent;

  h1,
  .h1 {
    color: @jumbotron-heading-color;
  }

  p {
    margin-bottom: (@jumbotron-padding / 2);
    font-size: @jumbotron-font-size;
    font-weight: 200;
  }

  > hr {
    border-top-color: darken(@jumbotron-bg, 10%);
  }

  .container &,
  .container-fluid & {
    border-radius: @border-radius-large; // Only round corners at higher resolutions if contained in a container
  }

  .container {
    max-width: 100%;
  }

  @media screen and (min-width: @screen-sm-min) {
    padding: (@jumbotron-padding * 1.6) 0;

    .container &,
    .container-fluid & {
      padding-left:  (@jumbotron-padding * 2);
      padding-right: (@jumbotron-padding * 2);
    }

    h1,
    .h1 {
      font-size: (@font-size-base * 2);
    }
  }
}

.jumbotron_full_width{
  .jumbotron();
  margin-bottom: 0;
  h1, .h1{color: @white; text-align:center; font-size:(@font-size-base * 2);}
  p{color: @white; text-align:center;}
  background: url(/demo/img/bg_jumbotron.jpg) no-repeat center center;
  .container &,
  .container-fluid & {
    .border-radius(0);
  }
}

.jumbotron_full_blue_dark{
 .jumbotron();
  margin-bottom: 0;
  h1, .h1{color: @white; text-align:center; font-size:(@font-size-base * 2);}
  p{color: @white; text-align:center;}
  background: #1f5989;
  .container &,
  .container-fluid & {
    .border-radius(0);
  }
  .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle){
    color:@white;
  }
}