.media {
  // Proper spacing between instances of .media
  margin-top: 10px;
  background: @gray-custom;

  &:first-child {
    margin-top: 0;
  }

  img{padding: 3px;}
}

.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}

.media-body {
  width: 10000px;

  p{padding-top:10px;}

  a{
    font-size: @font-size-base ;
    font-weight: 600;
    color : darken(@blue, 20%);
    text-decoration: none;
  }
}

.media-object {
  display: block;
}

.media-right,
.media > .pull-right {
  padding-left: 10px;
}

.media-left,
.media > .pull-left {
  padding-right: 10px;
}

.media-left,
.media-right,
.media-body {
  .media-heading();
  display: table-cell;
  vertical-align: top;
}

.media-middle {
  vertical-align: middle;
}

.media-bottom {
  vertical-align: bottom;
}

// Reset margins on headings for tighter default spacing
.media-heading {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight:300;
  color: #85b5c3;
}

// Media list variation
//
// Undo default ul/ol styles
.media-list {
  padding-left: 0;
  list-style: none;
}
